* {
  box-sizing: border-box;
}
.sidenav {
  background-image: url("https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
.dropdown-content {
  border-radius: 20px;
}
.sidenav li > a {
  color: white;
}
.dropdown-content {
  color: black;
}
body {
  background-color: blueviolet;
}
.sec1,
.sec2,
.sec3 {
  background-color: whitesmoke;
  height: 200px;
  text-align: center;
}
li {
  border-radius: 15px;
}
